*{
    box-sizing: border-box;
}
body{
    background-color: #FBF7EE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#js
{
    display: none;
}
.mobile
{
    display: none;
}
header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15px 150px 15px 150px;
}
.logo {
    padding: 0 0px;
    cursor: pointer;

}
.nav_list {
    list-style: none;
}
.nav_list li {
    display: inline;
    padding: 0px 20px;
}
.nav_list li a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.nav_list li a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #0B47A6;
}
a{
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    color: #000000;
}
a:hover{
    font-weight: bold;
    text-decoration: none;
    color: #0B47A6;
}
button{
    padding: 9px 25px;
    background-color: #0B47A6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor:pointer;
}
button:hover {
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    color:#0B47A6;
}
section h1{
    text-align: center;
    font-size: 60px;
    margin:  15px 0 15px 0;
    color: #0B47A6;
}
.info {
    display: flex;
    justify-content: space-between;
    margin: 30px 250px auto 250px ;

}
.info .content {
    display: flex;
    flex-direction:column ;
}
.info .content input{
    padding: 10px 35px;
    border: #0B47A6;
    border-radius: 10px;
    margin-bottom: 15px;
}
.info .content label{
    margin-bottom: 5px;
}
.info .message  {
    display: flex;
}.info .message textarea {
    border: #0B47A6;
    border-radius: 10px;
    margin-right: 100px;
    margin-top: 5%;

}
footer{
    background-color: #0B47A6;
    color: white;
    margin-top: 55px;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin-left: 150px ;
    margin-right: 150px;
    align-items: center;
}
 @media screen  and (max-width :600px){
    #js
    {
        background-color: #13366D;
    }
     /* css menu */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
#js *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #13366D;
}
#js .logo{
    color: white;
    size: 30px;
    font-weight: bold;
    font-family: 'poppins';
    font-size: 24px;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    padding: 5px 10px;
    }
header li{
padding-left: 0px;
margin-bottom: 40px;
}
#js .sect {
    /* background-color: red; */
    text-align: center;
    margin-top: 15px;
}
#js .sect li {
    list-style: none;
    font-family: 'poppins';
    margin-bottom: 15px; 
}
#js .sect li a {
    font-weight: bold;
    text-decoration: none;
    color : #fff;

}
#js .signin button{
    background: none;
    border: solid 1px white;
    font-weight: bold;
    font-family: 'poppins';
    text-decoration: none;
    color : white;
    width: 85px;
    margin-bottom: 10px;
    margin-top: 28px;
}
#js .signin button:hover{
    background-color: #555;
    color: white;
}
#js .tryff button{
    background: white;
    border: solid 1px #fff;
    font-weight: bold;
    font-family: 'poppins';
    text-decoration: none;
    color : #13366D;
    width: 85px;
    margin-bottom: 10px;
    margin-top: 8px;
}
#js .tryff button:hover{
    background-color: #13366D;
    color: #555
}
.mobile
{display: block;}
/* fin */
    body{
        background-color: #0B47A6;
        color: #FBF7EE;
    }
    .logo {
        background-color: #FBF7EE;
        padding: 5px 5px;
        border-radius:10px ;
        cursor: pointer;
    
    }
    header
    {
        position: relative;
    }
    .mobile
    {
        position: absolute;
        right: 0px;
    }
    .nav_list{
        display: none;
    }
    header div {
        display: none;
    }
    section{
        width: 100%;
        height: 100%;
    }
    section h1{
        text-align: center;
        font-size: 50px;
        margin:  15px 0 15px 0;
        color: white;
    }
    .info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 30px 50px auto 50px ;
    
    }
    .info .message  {
    display: flex;
    flex-direction: column;
    }
    .info .message textarea {
    border-radius: 10px;
    margin-right: 0;
    margin-top: 5%;
}
footer{
    background-color: #FBF7EE;
    color: #0B47A6;
    margin-top: 55px;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin-left: 20px ;
    margin-right:20px;
    align-items: center;
    
}
.foot .f1,.f2,.f3 {
    font-size: 10px;
    padding: 0 20px 0 20px;
}  
}  
@media screen and (max-width:1300px) {
    header{
        padding: 15px 5px 15px 15px;
    }
    .nav_list li {
        font-size: 12px;
        padding: 0px 0px 0 0;
    }
    
    button{
        padding: 5px 5px;
        background-color: #0B47A6;
        color: white;
        font-weight: bold;
        font-size: 12px;
        border: none;
        border-radius: 8px;
        cursor:pointer;
    }
    button:hover {
        background-color: rgb(255, 255, 255);
        font-weight: bold;
        color:#0B47A6;
    }
   .info{
      display: flex;
      flex-direction: column;
   } 
   .info .message{
       flex-direction: column;
    
   }
   .info .message textarea {
    margin-right: 0;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin-left: 50px ;
    margin-right: 50px;
    align-items: center;
}
.foot .f1,.f2,.f3 {
    font-size: 10px;
    padding: 0 20px 0 20px;
}  

}
