@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #13366D;
    margin: 20px;
}
.logo{
    color: white;
    size: 30px;
    font-weight: bold;
    font-family: 'poppins';
    font-size: 24px;
}
header{
    width: 100%;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    padding: 5px 10px;
    }
header li{
padding-left: 0px;
margin-bottom: 40px;
}
.sect {
    /* background-color: red; */
    text-align: center;
    margin-top: 15px;
}
.sect li {
    list-style: none;
    font-family: 'poppins';
    margin-bottom: 15px; 
}
.sect li a {
    font-weight: bold;
    text-decoration: none;
    color : #fff;

}
.signin button{
    background: none;
    border: solid 1px white;
    font-weight: bold;
    font-family: 'poppins';
    text-decoration: none;
    color : white;
    width: 85px;
    margin-bottom: 10px;
    margin-top: 28px;
}
.signin button:hover{
    background-color: #555;
    color: white;
}
.tryff button{
    background: white;
    border: solid 1px #fff;
    font-weight: bold;
    font-family: 'poppins';
    text-decoration: none;
    color : #13366D;
    width: 85px;
    margin-bottom: 10px;
    margin-top: 8px;
}
.tryff button:hover{
    background-color: #13366D;
    color: #555
}
